version: '3.8'

services:
  # Database services
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./mariadb_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mariadb
      PMA_USER: root
      PMA_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "8008:80"
    depends_on:
      - mariadb
  
  influxdb:
    image: influxdb:2
    container_name: influxdb
    env_file:
      - .env
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb

  # Spring Boot Cloud Gateway as a reverse proxy
  gateway:
    build:
      context: ./
      dockerfile: ./gateway/Dockerfile
    container_name: gateway
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - userservice

  # Application services
  animalservice:
    build:
      context: ./
      dockerfile: ./animalservice/Dockerfile
    container_name: animalservice
    ports:
      - "8082:8080"
    env_file:
      - .env
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      INFLUXDB_HOST: influxdb
      INFLUXDB_PORT: 8086
      INFLUXDB_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      INFLUXDB_ORG: ${DOCKER_INFLUXDB_INIT_ORG}
      INFLUXDB_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET}
    depends_on:
      - mariadb
      - influxdb
    volumes:
    - animal-images:/uploads/animals

  notificationservice:
    build:
      context: ./
      dockerfile: ./notificationservice/Dockerfile
    container_name: notificationservice
    ports:
      - "8083:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - INFLUX_HOST=influxdb
    depends_on:
      - mariadb

  reportservice:
    build:
      context: ./
      dockerfile: ./reportservice/Dockerfile
    container_name: reportservice
    ports:
      - "8084:8080"
    env_file:
        - .env
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - INFLUX_HOST=influxdb
    depends_on:
      - mariadb

  userservice:
    build:
      context: ./
      dockerfile: ./userservice/Dockerfile
    container_name: userservice
    ports:
      - "8085:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - JWT_PRIVATE_KEY=/app/keys/private.key
      - JWT_PUBLIC_KEY=/app/keys/public.key
    volumes:
      - ./security:/app/keys
    depends_on:
      - mariadb

  pwa:
    build:
      context: ./
      dockerfile: ./pwa/Dockerfile
    container_name: pwa
    env_file:
      - .env
    depends_on:
      - animalservice
      - notificationservice
      - reportservice
      - userservice
      - gateway

volumes:
  mariadb_data:
  influxdb_data:
  animal-images:
  security:
