version: '3.8'

services:
  # Database services
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./mariadb_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mariadb
      PMA_USER: root
      PMA_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "8008:80"
    depends_on:
      - mariadb

  influxdb:
    image: influxdb:2
    container_name: influxdb
    env_file:
      - .env
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.4
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper_data:/var/lib/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.4
    container_name: kafka
    ports:
      - "9092:9092" # For EXTERNAL listener
      - "19092:19092" # For INTERNAL listener
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:19092,EXTERNAL://localhost:9092
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:19092,EXTERNAL://0.0.0.0:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
      KAFKA_LOG_RETENTION_MS: 10000
      KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: 5000
    volumes:
      - kafka_data:/var/lib/kafka
    depends_on:
      - zookeeper

  kafdrop:
    image: obsidiandynamics/kafdrop:4.0.2
    container_name: kafdrop
    ports:
      - "9009:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:19092"
      SERVER_PORT: 9000
      SERVER_SERVLET_CONTEXTPATH: "/"
    depends_on:
      - kafka

  # Spring Boot Cloud Gateway as a reverse proxy
  gateway:
    build:
      context: ./
      dockerfile: ./gateway/Dockerfile
    container_name: gateway
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - userservice

  # Application services
  animalservice:
    build:
      context: ./
      dockerfile: ./animalservice/Dockerfile
    container_name: animalservice
    ports:
      - "8082:8080"
    env_file:
      - .env
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      INFLUXDB_HOST: influxdb
      INFLUXDB_PORT: 8086
      INFLUXDB_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      INFLUXDB_ORG: ${DOCKER_INFLUXDB_INIT_ORG}
      INFLUXDB_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET}
    depends_on:
      - mariadb
      - influxdb
    volumes:
    - animal-images:/uploads/animals

  notificationservice:
    build:
      context: ./
      dockerfile: ./notificationservice/Dockerfile
    container_name: notificationservice
    ports:
      - "8083:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - INFLUX_HOST=influxdb
    depends_on:
      - mariadb

  reportservice:
    build:
      context: ./
      dockerfile: ./reportservice/Dockerfile
    container_name: reportservice
    ports:
      - "8084:8080"
    env_file:
        - .env
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      INFLUXDB_HOST: influxdb
      INFLUXDB_PORT: 8086
      INFLUXDB_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      INFLUXDB_ORG: ${DOCKER_INFLUXDB_INIT_ORG}
      INFLUXDB_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET}
    depends_on:
      - mariadb
      - influxdb

  userservice:
    build:
      context: ./
      dockerfile: ./userservice/Dockerfile
    container_name: userservice
    ports:
      - "8085:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - JWT_PRIVATE_KEY=/app/keys/private.key
      - JWT_PUBLIC_KEY=/app/keys/public.key
    volumes:
      - ./security:/app/keys
    depends_on:
      - mariadb

  pwa:
    build:
      context: ./
      dockerfile: ./pwa/Dockerfile
    container_name: pwa
    ports:
      - "8080:8080" # Expose the port used by the development server
    volumes:
      - ./pwa:/app  # Mount the local `pwa` directory into the container
      - /app/node_modules  # Avoid overwriting node_modules inside the container
    depends_on:
      - animalservice
      - notificationservice
      - reportservice
      - userservice
      - gateway
    environment:
      NODE_ENV: development
      VITE_API_BASE_URL: ${BASE_URL}/api/v1
      VITE_WS_BASE_URL: ${BASE_URL}/ws


  datacollector:
    build:
      context: ./
      dockerfile: ./datacollector/Dockerfile
    container_name: datacollector
    env_file:
      - .env
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      INFLUXDB_HOST: influxdb
      INFLUXDB_PORT: 8086
      INFLUXDB_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      INFLUXDB_ORG: ${DOCKER_INFLUXDB_INIT_ORG}
      INFLUXDB_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET}
    depends_on:
      - mariadb
      - influxdb
      - zookeeper
      - kafka
      - kafdrop

  actionservice:
    build:
      context: ./
      dockerfile: ./actionservice/Dockerfile
    container_name: actionservice
    env_file:
      - .env
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      INFLUXDB_HOST: influxdb
      INFLUXDB_PORT: 8086
      INFLUXDB_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      INFLUXDB_ORG: ${DOCKER_INFLUXDB_INIT_ORG}
      INFLUXDB_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET}
    depends_on:
      - mariadb
      - influxdb
      - zookeeper
      - kafka
      - kafdrop

volumes:
  mariadb_data:
  influxdb_data:
  zookeeper_data:
  kafka_data:
  animal-images:
  security:
