version: '3.8'

services:
  # Database services
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./mariadb_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mariadb
      PMA_USER: root
      PMA_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "8008:80"
    depends_on:
      - mariadb
  
  influxdb:
    image: influxdb:2
    container_name: influxdb
    env_file:
      - .env
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb

  # Nginx as a reverse proxy
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf  # Mounting to conf.d as default.conf
    depends_on:
      - mariadb
      - influxdb

  # Application services
  animalservice:
    build:
      context: ./
      dockerfile: ./animalservice/Dockerfile
    container_name: animalservice
    ports:
      - "8082:8080"
    env_file:
      - .env
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      INFLUX_HOST: influxdb
      INFLUX_PORT: 8086
      INFLUX_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      INFLUX_ORG: ${DOCKER_INFLUXDB_INIT_ORG}
      INFLUX_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET}
    depends_on:
      - mariadb
      - influxdb
    volumes:
      - ./animalservice/src/main/resources/security/pub.pem:/app/src/main/resources/security/pub.pem

  notificationservice:
    build:
      context: ./
      dockerfile: ./notificationservice/Dockerfile
    container_name: notificationservice
    ports:
      - "8083:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=mariadb
      - INFLUX_HOST=influxdb
    depends_on:
      - mariadb

  reportservice:
    build:
      context: ./
      dockerfile: ./reportservice/Dockerfile
    container_name: reportservice
    ports:
      - "8084:8080"
    env_file:
        - .env
    environment:
      - DB_HOST=mariadb
      - INFLUX_HOST=influxdb
    depends_on:
      - mariadb

  userservice:
    build:
      context: ./
      dockerfile: ./userservice/Dockerfile
    container_name: userservice
    ports:
      - "8085:8080"
    env_file:
        - .env
    environment:
      - DB_HOST=mariadb
      - INFLUX_HOST=influxdb
    depends_on:
      - mariadb

volumes:
  mariadb_data:
  influxdb_data:
